# Build Output
# Let's explicitly ignore build output folders
firmware/motorcontroller2/MOTORCONTROLLER/*
firmware/powerboard/POWERBOARD/*
firmware/motorcontroller2/test/MC_TEST/*
firmware/shared/test/SHARED_TEST/*


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
# Leave library files in

# System Workbench
#*.cfg We need this file for the debugger settings
STM32*.xml

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
#*.ld We comment this out to make it easier on ppl
*.d

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.map

# Debug files
*.dSYM/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Directories that are not useful but in the project
Debug/
Release/
.settings/
#startup/

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
